extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .chart-container
      canvas(id="mychart")
  hr(style="border: 2px black solid")
  .container
    form(action="", method="POST")
      .form-group
        label From Date:
        .input-group
          input.form-control#datefrom(name='datefrom', type="date")
          input.form-control#timefrom(name='timefrom',type="time", value="00:00")
      .form-group
        label To Date:
        .input-group
          input.form-control#dateto(name='dateto',type="date")
          input.form-control#timeto(name='timeto',type="time", value="23:59")
      .form-group
        button.btn.btn-primary.btn-block(type="submit") Submit
        a.btn.btn-primary.btn-block(href="/") Reset
  hr(style="border: 2px black solid")
  .container
    table.table#myTable
      thead
        tr
          th Value
          th Device Name
          th Device Owner
          th Date
          th Time
      tbody
        each d in data
          tr
            td= d.val
            td= d.device.deviceName
            td= d.device.deviceOwner
            td= d.date
            td= d.time

