doctype html
html
  head
    title= title
    link(rel="icon", type="image/x-icon", href="/images/macaroni.png")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/Chart.css")
    link(rel="stylesheet", href="/stylesheets/datatables.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/datatables.min.js")
    script(src="/javascripts/Chart.js")
    script(src="/javascripts/myscript.js")